.name {
	text-align: center;
	padding: 25px;
	animation-name: colors;
	animation-duration: 5s;
	color: lightblue;
	letter-spacing: 3px;
	/*animation-iteration-count: infinite;*/
	/*animation-direction: alternate;*/
}

@keyframes colors {
  0% {color: lightpink;}
  50% {color: lavender;}
  100% {color: lightblue;}
}