html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
	background-color: rgba(113, 213, 232, 0.1);
}

a {
	color: grey;
	text-decoration: none;
	text-align: right;
	border-radius: 1rem;
	padding: 0.3rem;
}

a:link {
	color: grey;
}

.container {
	display: inline-block;
  	width: 100%;
  	min-height: 100%;
  	margin: 0 auto;
  	max-width: 100%;
}

.heading a:hover, .footer a:hover {
	color: lightgrey;
}

/* mouse over link */
.nav-bar a:hover {
	color: white;
	background-color: lightgrey;
}	

/* selected link */
a:active {
	color: darkgrey;
}

.heading {
	margin: 1rem 1rem;
    width: 70%;
    float: left;
}

.nav-bar {
	padding: 0.5rem;
	margin: 0;
    max-width: 40%;
   	float: right;
   	position: fixed;
   	top: 1rem;
   	right: 1rem;
   	background-color: rgba(255, 255, 255, 0.9);
   	border-bottom: 2px solid lightgrey;
   	border-radius: 1rem;
   	list-style: none;
   	z-index: 1;
}

.nav-bar li {
	display: inline-block;
}

.introduction {
	margin: 0;
	padding: 0;
	max-width: 20rem;
}

.skills {
	list-style: none;
}

.skills li {
	display: inline-block;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	background-color: rgba(113, 213, 232, 0.1);
}

.experience h4, h5, h6, .project h4 {
	margin: 0;
	padding-top: 0.5rem;
}

.experience h6 {
	margin-bottom: 1rem;
}

.project p {
	margin-left: 2rem;
}

.art {
	align-content: center;
}

.picture {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 12rem;
}

.image {
	display: inline-block;
	width: auto;
	height: 10rem;
	border-radius: 6.5rem;
}

.content {
    width: all;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 1rem;
    position: absolute;
    top: 5rem;
    left: 5%;
    right: 5%;
}

.content h1 {
	font-size: 1.5rem;
}

/*.footer {
    padding: 0 1rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    height: 5rem;
    border-radius: 1rem;
    border-top: 2px solid lightgrey;
}

.footer h1 {
	font-size: 1.2rem;
}*/

.contact {
	margin: 0;
	padding: 1rem;
	border-radius: 1rem;
}

.contact ul {
	list-style-type: none;
}

.contact li {
	display: inline;
	padding: 1rem;
}
